@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the pastel colors */
:root {
  --pastel-pink: #ffd8db;
  --pastel-blue: #b1e1ea;
  --pastel-green: #d8f1d7;
  --pastel-yellow: #fffbcc;
}

/* Apply the colors to different elements */
body {
  background-color: #0f172a;
}

h1, h2, h3 {
  color: blue;
  text-align: center; /* Center the header text */
}

a {
  color: var(--pastel-green);
}

button {
  background-color: var(--pastel-yellow);
}

/* Adjust the brightness of the header color */
header {
  background-color: #fca1a7; /* Slightly brighter pink */
}

/* Add additional styling specific to your handmade bags website */
